html {
  height: 100%;
  width: 100%;
}

/**text settings**/
body {
    background-color: black;
    font-size: 40px;
}

h1 {
    text-align: center;
    color: #e61610;
    z-index:15;
    position: relative;
    font-size:2em;
    font-family: Merienda;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff3a33;
}

h2 {
    color: #e61610;
    text-align:center;
    font-family: Merienda;
}

h3 {
    color: #000000;
    text-align:center;
}

p {
    color: #e61610;
    font-family: Merienda;
    z-index: 15;
    top:30vh;
    text-align:center;
    font-size: 28px;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #ff3a33;
}

a {
     color: #e61610;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: #ff3a33;
}

a:hover {
    cursor: pointer;
    color: black;
    -webkit-text-stroke-width: 0px;
}

/** Image slideshow CSS **/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    height: 100vh;
    width: 100%;
    position: relative;
    /**display: flex;**/
    z-index: 1; 
    justify-content:center;
    align-items:center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    33% {
        opacity: 0;
    }

    67% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slide-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    animation: fade 9s ease-in-out infinite alternate;
    z-index: -1; 
    pointer-events: none;
}

img:nth-of-type(1) {
    animation-delay: 0s;
}

img:nth-of-type(2) {
    animation-delay: 3s;
}

img:nth-of-type(3) {
    animation-delay: 6s;
}

/**image links**/
.links {
    display: grid;
    grid-template-areas: 
        'text text text'
        'one two three';
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    z-index: 15;
    top: 30vh;
    padding:0px;
    padding-left:10%;
    padding-right:10%;
    padding-bottom: 140px;
    background-image: url('Images/IMG-Main.jpg');
    background-repeat: repeat;
    background-size: 100vw;
}

.link-img {
    height:250px;
}

.link-img:hover {
  transform: scale(1.25);
}

.music-text {
    color:black;
    grid-area:text;
    position:relative;
}

.link-one {
    grid-area:one;
}

.link-two {
    grid-area: two;
}

.link-three {
    grid-area: three;
}

/** Hamburger start **/
*, *::after, *::before {
    box-sizing: border-box;
}

/** Changable Hamburger variables if needed **/
:root {
    --foreground: #333;
    --background: #e61610;
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 30;
    cursor: pointer;
}

.hamburger-menu:has(input:checked) {
    --foreground: white;
    --background: #333;
}

/** Hamburger accessability tab highlighting **/
.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

/**SIDEBAR**/
.sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--foreground);
    color: var(--background);
    max-width: 12rem;
    min-height: 100vh;
    font-size: 25px;
    z-index: 20;
    position:fixed;
    top:0;
    left:0;
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
}
/** end of hamburger menu FINALLY **/

/**Newsletter**/
.footer {
    background-image: url('Images/footer.png');
    background-size:100vw;
    background-repeat:repeat;
}

.button {
    border:none;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    -webkit-appearance: button;
}

.modal {
    display:none;
    position:fixed;
    z-index:1;
    left:0;
    right:0;
    width:100%;
    height:100%;
    overflow:auto;
}

/**w3 Newsletter spaghetti **/
button {font:inherit;margin:0}optgroup{font-weight:bold}

hr{border:0;border-top:1px solid #eee;margin:20px 0}

.w3-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.w3-display-topright{position:absolute;right:0;top:0}

.w3-button:hover{color:#000!important;background-color:#ccc!important}

.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}

/**Page 2: Members **/
.about-us {
    font-weight: 1px;
    background-image: url('Images/Hallway.jpg');
    background-size:100vw;
    background-repeat:repeat;
}

.about-us h2 {
    text-decoration: underline;
}

.v {
    grid-area:v-one;
    display:flex;
}

.sam {
    grid-area:sam-two;
    display:flex;
}

.finn {
    grid-area:finn-three;
    display:flex;
}

.tj {
    grid-area:tj-four;
    display:flex;
}

.matthias {
    grid-area:matthias-five;
    display:flex;
}

.member-container {
    display: grid;
    grid-template-areas: 
        'v-one sam-two'
        'finn-three tj-four'
        'matthias-five matthias-five';
    grid-gap: 10px;
}

.member-img {
    height:175px;
    padding-right:15px;
}

/** Page 3: Photo Gallery **/
.gallery-container {
    background-image: url('Images/GONK!.JPG');
    background-size:100vw;
    background-repeat: repeat;
}

.gallery-container h2 {
    text-decoration: underline;
}

.photo-container {
    display: grid;
    grid-template-areas: 
        'gallery-one gallery-two gallery-three'
        'gallery-four gallery-five gallery-six'
        'gallery-seven gallery-eight gallery-nine';
    grid-gap: 10px;
}

.gallery {
  margin: 5px;
  border: 1.5px solid #ccc;
  float: left;
  width: 180px;
  background-color:#2f4858;
}

.gallery:hover {
  border: 1px solid #e61610;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

.gallery p {
    font-size: 0.5em;
}

.gallery-one {
    grid-area:gallery-one;
}

.gallery-two {
    grid-area:gallery-two;
}

.gallery-three {
    grid-area:gallery-three;
}

.gallery-four {
    grid-area:gallery-four;
}

.gallery-five {
    grid-area:gallery-five;
}

.gallery-six {
    grid-area:gallery-six;
}

.gallery-seven {
    grid-area:gallery-seven;
}

.gallery-eight {
    grid-area:gallery-eight;
}

.gallery-nine {
    grid-area:gallery-nine;
}

/** phone screens **/
@media only screen and (max-width: 768px) {
    :root {
        --bar-width: 80px;
        --bar-height: 10px;
        --hamburger-gap: 6px;
        --hamburger-margin: 8px;
        --animation-timing: 200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    }
    
    .link-img {
        height:12vh;
    }
    
    .music-text {
    font-size: 40px;
    }
/** phone screens - Member page **/
    .member-container {
        display: grid;
        grid-template-areas: 
            'v-one'
            'sam-two'
            'finn-three'
            'tj-four'
            'matthias-five';
        grid-gap: 10px;
    }
    
    .member-img {
        height:160px;
    }
    
    .about-us {
        font-weight: 1px;
        font-size: 20px;
        background-image: url('Images/Hallway.jpg');
        background-size:100vw;
        background-repeat:repeat;
    }
    .about-us p {
        font-size:25px;
    }
}